<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Alan Touring.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E536DCBA1C6510FC00A7B2FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E536DCD11C6510FD00A7B2FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E536DCDC1C6510FD00A7B2FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
