.navbar-fixed-top {
    min-height: 60px;
}

.navbar-default {
    background-color: #162B49;
    border-color: #101F35;
    height: 50px;
}

.navbar-default .navbar-nav > li > a {
    color: #D8DCE0;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 100;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:visited {
    color: #D8DCE0;
}

.navbar-center {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 0 auto;
    z-index: 0;
}

.tour-navbar-title {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;
    color: #FFF;
}
