<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.hobbyte.touringandroid"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.activity.SplashActivity"
            android:noHistory="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.StartActivity"
            android:label="@string/title_activity_start" />

        <activity
            android:name=".ui.activity.TourActivity"
            android:label="@string/title_activity_tour"
            android:configChanges="orientation|screenSize|keyboardHidden" />/>

        <activity
            android:name=".ui.activity.SummaryActivity"
            android:label="@string/title_activity_summary"
            android:parentActivityName=".ui.activity.StartActivity"/>

        <activity
            android:name=".ui.activity.DownloadActivity"
            android:label="@string/title_activity_download"
            android:parentActivityName=".ui.activity.StartActivity"/>
    </application>

</manifest>
