<div class="row">
    <div class="admin-help-bkg col-sm-3 hidden-xs hidden-sm"></div>
</div>
<div class="row">
    <div class="admin-main col-sm-8">
        <h3 class="admin-header">Edit Key '{{key.code}}'</h3>
    </div>
    <div class="admin-help col-sm-4 hidden-xs"></div>
</div>
<div class="admin-create-container">
    <div class="row">
        <div class="admin-main col-sm-8 admin-account-inputs admin-create-input">
            <h5 class="admin-subheader">Key Code</h5>
            <input type="text" class="form-control" ng-model="key.code" ng-disabled="saving">
            <div class="admin-message admin-message-error" ng-show="validate && !key.code">Key Codes are required.</div>
        </div>
        <div class="admin-help admin-subheader-offset col-sm-4 hidden-xs"></div>
    </div>
    <div class="row">
        <div class="admin-main col-sm-8 admin-account-inputs admin-create-input">
            <h5 class="admin-subheader">Key Expiry Date</h5>
                <input type="datetime-local" class="form-control" ng-model="key.expiry" ng-disabled="creating">
        </div>
        <div class="admin-help admin-subheader-offset col-sm-4 hidden-xs"></div>
    </div>
</div>
<div class="row">
    <div class="admin-main col-sm-8">
        <button class="btn admin-btn" ng-click="save()" ng-disabled="saving">Save</button>
        <button class="btn admin-btn admin-delete-btn" ng-click="deleteSwitch = 1" ng-disabled="saving" ng-show="deleteSwitch === 0">Delete</button>
        <button class="btn admin-btn admin-delete-btn" ng-click="delete()" ng-disabled="saving" ng-show="deleteSwitch === 1">Are you sure?</button>
        <br>
        <h5 ng-show="creating" class="admin-subheader"><i class="fa fa-spin fa-cog"></i> Saving your key...</h5>
        <div class="admin-message admin-message-success" ng-show="keymessage === success">Your key has been saved  successfully</div>
        <div class="admin-message admin-message-error" ng-show="keymessage === error">There was an error saving the key</div>
    </div>
    <div class="admin-help col-sm-4 hidden-xs"></div>
</div>
