<div class="row">
    <div class="admin-help-bkg col-sm-3 hidden-xs hidden-sm"></div>
</div>
<div class="row">
    <div class="admin-main col-sm-8">
        <h3 class="admin-header">Edit Section '{{section.title}}'</h3>
    </div>
    <div class="admin-help col-sm-4 hidden-xs"></div>
</div>
<div class="admin-create-container">
    <div class="row">
        <div class="admin-main col-sm-8 admin-account-inputs admin-create-input">
            <h5 class="admin-subheader">Section Title</h5>
            <input type="text" class="form-control" ng-model="section.title" ng-disabled="saving">
            <div class="admin-message admin-message-error" ng-show="validate && !section.title">Section titles are required.</div>
        </div>
        <div class="admin-help admin-subheader-offset col-sm-4 hidden-xs"></div>
    </div>
    <div class="row">
        <div class="admin-main col-sm-8 admin-account-inputs admin-create-input">
            <h5 class="admin-subheader">Section Description</h5>
            <textarea type="text" class="form-control" ng-model="section.description" ng-disabled="saving" rows="3"></textarea>
        </div>
        <div class="admin-help admin-subheader-offset col-sm-4 hidden-xs"></div>
    </div>
    <div class="row">
        <div class="admin-main col-sm-8">
            <h5 class="admin-subheader no-padding-top">Subsections</h5>
            <ul class="admin-cell-list">
                <div ng-repeat="subsection in section.subsections track by $index">
                    <li class="cursor-pointer" ui-sref="admin.edit.section({id: subsection.objectId})">{{subsection.title}}<i class="fa fa-chevron-right pull-right"></i></li>
                </div>
                <li class="cursor-pointer admin-edit-new-li" ng-click="createSubsection()"><i>Add a new subsection</i><i class="fa fa-plus pull-right"></i></li>
            </ul>
        </div>
        <div class="admin-help admin-subheader-offset col-sm-4 hidden-xs"></div>
    </div>
    <div class="row">
        <div class="admin-main col-sm-8">
            <h5 class="admin-subheader no-padding-top">Points of Interest</h5>
            <ul class="admin-cell-list">
                <div ng-repeat="poi in pois track by $index">
                    <li class="cursor-pointer">{{poi.title}}<i class="fa fa-chevron-right pull-right"></i></li>
                </div>
                <li class="cursor-pointer admin-edit-new-li" ng-click="createPOI()"><i>Add a new Point of Interest</i><i class="fa fa-plus pull-right"></i></li>
            </ul>
        </div>
        <div class="admin-help admin-subheader-offset col-sm-4 hidden-xs"></div>
    </div>
</div>
<div class="row">
    <div class="admin-main col-sm-8">
        <button class="btn admin-btn" ng-click="save()" ng-disabled="saving">Save</button>
        <button class="btn admin-btn admin-delete-btn" ng-click="deleteSwitch = 1" ng-disabled="saving" ng-show="deleteSwitch === 0">Delete</button>
        <button class="btn admin-btn admin-delete-btn" ng-click="delete()" ng-disabled="saving" ng-show="deleteSwitch === 1">Are you sure?</button>
        <br>
        <h5 ng-show="creating" class="admin-subheader"><i class="fa fa-spin fa-cog"></i> Saving your section...</h5>
        <div class="admin-message admin-message-success" ng-show="accountmessage === success">Your section has been saved  successfully</div>
        <div class="admin-message admin-message-error" ng-show="accountmessage === error">There was an error saving the section</div>
    </div>
    <div class="admin-help col-sm-4 hidden-xs"></div>
</div>
