<div class="row">
    <div class="admin-help-bkg col-sm-3 hidden-xs hidden-sm"></div>
</div>
<div class="row">
    <div class="admin-main col-sm-8">
        <h3 class="admin-header">Edit {{class.capitalize()}}</h3>
    </div>
    <div class="admin-help col-sm-4 hidden-xs"></div>
</div>
<div class="admin-create-container">
    <div class="row" ng-repeat="input in classData[class].expectedInput track by $index">
        <div class="admin-main col-sm-8 admin-account-inputs admin-create-input">
            <h5 class="admin-subheader">{{input.description}}</h5>
            <input type="text" class="form-control" ng-model="input.value" ng-disabled="creating">
            <div class="admin-message admin-message-error" ng-show="validate && !input.value && input.required">This is a required input</div>
        </div>
        <div class="admin-help admin-subheader-offset col-sm-4 hidden-xs">{{input.help}}</div>
    </div>
</div>
</div>
<div class="row">
    <div class="admin-main col-sm-8">
        <button class="btn admin-btn" ng-click="create()" ng-disabled="creating">Save</button><br>
        <h5 ng-show="creating" class="admin-subheader"><i class="fa fa-spin fa-cog"></i> Saving your tour...</h5>
        <div class="admin-message admin-message-success" ng-show="accountmessage === success">Your tour has been saved  successfully</div>
        <div class="admin-message admin-message-error" ng-show="accountmessage === error">There was an error saving the tour</div>
    </div>
    <div class="admin-help col-sm-4 hidden-xs"></div>
</div>
