<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>APIConnectorTests</key>
		<dict>
			<key>testPerformanceOfAPIConnectionWithKCL1010()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict/>
			</dict>
			<key>testPerformanceOfAPIConnectionWithKCL1111()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict/>
			</dict>
		</dict>
		<key>TestTourDataParser</key>
		<dict>
			<key>testDownloadPerformanceExample()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict/>
			</dict>
			<key>testParsePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict/>
			</dict>
			<key>testReadPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict/>
			</dict>
			<key>testSavePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict/>
			</dict>
		</dict>
		<key>TourUpdateManagerTests</key>
		<dict>
			<key>testPerformanceExample()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict/>
			</dict>
		</dict>
		<key>VideoHandlerTests</key>
		<dict>
			<key>testUrlPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict/>
			</dict>
		</dict>
		<key>mediaHelper</key>
		<dict>
			<key>testExistCheckPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict/>
			</dict>
			<key>testImageDownloadPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict/>
			</dict>
			<key>testVideoDownloadPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.6138</real>
					<key>baselineIntegrationDisplayName</key>
					<string>18 Mar 2016, 17:32:46</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
