<div class="container tour-container tour-poi">
    <div ng-repeat="component in poi.post track by $index">
        <div ng-if="component.type === 'header'">
            <h4>{{component.content}}</h4>
        </div>
        <div ng-if="component.type === 'body'">
            <p>{{component.content}}</p>
        </div>
        <div ng-if="component.type === 'image'">
            <img ng-src="{{component.url}}">
        </div>
        <div ng-if="component.type === 'video'">
            <video ng-src="{{component.url | trustVideo}}" loop controls>
        </div>
        <div ng-if="component.type === 'quiz'">
            <h1>QUIZ</h1>
        </div>
    </div>

</div>
