<div class="row">
    <div class="admin-help-bkg col-md-3 hidden-xs hidden-sm"></div>
</div>
<div class="row">
    <div class="admin-main col-sm-8">
        <h3 class="admin-header">{{organization.name}}</h3>
        <h5 class="admin-subheader" ng-show="admin.firstname">Welcome back, {{admin.firstname}}.</h5>
    </div>
    <div class="admin-help col-sm-4 hidden-xs"></div>
</div>
<div class="row">
    <div class="admin-main col-sm-8">
        <h5 class="admin-subheader no-padding-top">Basics Statistics</h5>
        <ul class="admin-cell-list">
            <li>{{admins.length}} Admin<span ng-if="admins.length !== 1">s</span></li>
            <li>{{tours.otherAdmins.length + tours.thisAdmin.length}} Tour<span ng-hide="tours.length === 1">s</span></li>
        </ul>
    </div>
    <div class="admin-help admin-subheader-offset col-md-4 hidden-xs">
        These are basic statistics about your organization.
    </div>
</div>
