<div class="container admin-login-view">
    <form class="admin-account-inputs">
        <div class="form-group">
            <input type="email" class="form-control" id="emailInput" placeholder="example@gmail.com" ng-model="login.email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="passwordInput" placeholder="password" ng-model="login.password">
        </div>
        <button type="submit" class="btn admin-btn-small" ng-click="login()">Login</button><br>
        <div class="admin-message admin-message-error" ng-show="loginError">A user with that email / password combination was not found.</div>
    </form>
</div>

