<div class="row">
    <div class="admin-help-bkg col-md-3 hidden-xs hidden-sm"></div>
</div>
<div class="row">
    <div class="admin-main col-sm-8">
        <h3 class="admin-header">Manage Admins</h3>
        <h5 class="admin-subheader">Create and delete admins, manage their permissions.</h5>
    </div>
    <div class="admin-help col-md-4 hidden-xs"></div>
</div>
<div class="row">
    <div class="admin-main col-sm-8">
        <h5 class="admin-subheader no-padding">Admins of {{organization.name}}</h5>
        <ul class="tour-cell-list">
            <div ng-repeat="poi in section.pois track by $index">
                <li class="cursor-pointer" ng-click="goToPOI($index)">{{poi.title}}<i class="fa fa-chevron-right pull-right"></i></li>
            </div>
        </ul>
    </div>
    <div class="admin-help col-md-4 hidden-xs">This is a list of all the admins in your organization.</div>
</div>
<div class="row">
    <div class="admin-main col-sm-8">3</div>
    <div class="admin-help col-sm-4 hidden-xs">help 3</div>
</div>
