<div class="row">
    <div class="admin-help-bkg col-md-3 hidden-xs hidden-sm"></div>
</div>
<div class="row">
    <div class="admin-main col-sm-8">
        <h3 class="admin-header">Manage Tours</h3>
        <h5 class="admin-subheader">Create and delete tours, manage their permissions.</h5>
    </div>
    <div class="admin-help col-md-4 hidden-xs"></div>
</div>
<div class="row">
    <div class="admin-main col-sm-8">
        <h5 class="admin-subheader no-padding-top">Your Tours</h5>
        <ul class="admin-cell-list">
            <div ng-repeat="tour in tours.thisAdmin track by $index">
                <li class="cursor-pointer" ui-sref="admin.edit.tour({id: tour.objectId})">{{tour.title}}<i class="fa fa-chevron-right pull-right"></i></li>
            </div>
        </ul>
    </div>
    <div class="admin-help admin-subheader-offset col-md-4 hidden-xs">This is a list of your tours. Click on a tour to edit it.</div>
</div>
<div class="row">
    <div class="admin-main col-sm-8">
        <h5 class="admin-subheader no-padding-top">Other Tours</h5>
        <ul class="admin-cell-list">
            <div ng-repeat="tour in tours.otherAdmins track by $index">
                <li class="cursor-pointer" ui-sref="admin.edit.tour({id: tour.objectId})">{{tour.title}}<i class="fa fa-chevron-right pull-right"></i></li>
            </div>
        </ul>
    </div>
    <div class="admin-help admin-subheader-offset col-md-4 hidden-xs">This is a list of all the tours in your organization that aren't yours (they belong to other admins). As a Super Admin, you still have full control over them.</div>
</div>
<div class="row">
    <div class="admin-main col-sm-8">
        <button class="btn admin-btn" ui-sref="admin.create({class: 'tour'})">Create a Tour</button><br>
    </div>
</div>
