<ul id="admin-nav-list">
    <h3 class="admin-nav-brand cursor-pointer" ui-sref="home">Tourable</h3>
    <li ui-sref="admin.dashboard" ng-if="admin.isSuper"><i class="fa fa-pie-chart"></i>Dashboard</li>
    <li ui-sref="admin.manageTours"><i class="fa fa-map-signs"></i>Manage Tours</li>
    <li ui-sref="admin.manageAdmins" ng-if="admin.isSuper"><i class="fa fa-users"></i>Manage Admins</li>
    <li ui-sref="admin.account"><i class="fa fa-cog"></i>Account Settings</li>
    <li ng-click="logout()"><i class="fa fa-sign-out"></i>Logout</li>
</ul>
