#tour-view {
    padding-top: 60px;
}

.tour-container {
    max-width: 600px;
}

.tour-overview-description {
    color: #162B49;
    padding: 20px 15px;
    margin: 0;
}

.tour-overview-data .fa-check {
    color: #44DB5E;
    padding: 3px;
}

.tour-overview-data {
    background-color: #FFF;
    border-radius: 5px;
}

.tour-overview-data > div {
    padding: 15px 20px;
    border-bottom-style: solid;
    border-bottom-color: #ECF0F1;
    border-bottom-width: 1px;
}

.tour-overview-data .tour-overview-data-last {
    border: 0;
}

.tour-button {
    border: 0;
    min-width: 150px;
    font-weight: 600;
}

.tour-start-button {
    padding: 15px 20px;
    display: block;
    margin: 30px auto;
    background-color: #D8DCE0;
    color: #162B49;
}
